---
import '../styles/global.css';
// Component Imports
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Reservas - The Neva Group</title>
		<meta name="description" content="Haz la reserva para tu cita aquí" />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://reservas.thenevagroup.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Reservas - The Neva Group" />
		<meta property="og:description" content="Haz la reserva para tu cita aquí" />
		<meta property="og:image" content="https://reservas.thenevagroup.com/reservas.png" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="reservas.thenevagroup.com" />
		<meta property="twitter:url" content="https://reservas.thenevagroup.com" />
		<meta name="twitter:title" content="Reservas - The Neva Group" />
		<meta name="twitter:description" content="Haz la reserva para tu cita aquí" />
		<meta name="twitter:image" content="https://reservas.thenevagroup.com/reservas.png" />
	</head>

  <body class="bg-zinc-950 text-zinc-100 antialiased">
		<Button />
	</body>
</html>
